$yellow-color: #FFF159;
$background-page-color: #EBEBEB;
$background-color-white: #FFFFFF;
$light-gray: #EEE;
$ligther-gray: rgba(0,0,0,.45);
$green-color: #2aeb2feb;
$blue-ligth-color: #3483fa;

$search-button-background: #EBEBEB;

$breakpoint-mobile: 688px;